  <div class="top">
      <button md-button style="width: 100%;text-align : left;background-color: #ffff8d;" (click)="goBack()" >
      <md-icon>keyboard_backspace</md-icon>
      </button>
      <img md-card-image src="../../../../assets/africa-15.jpg" alt="" style="width: 100%;height: 300px;">
      <p>

Introduction
Par tous les moyens – par voie terrestre puis par mer - les africains cherchent à émigrer vers l’Europe, au risque de leurs vies. Et si après un parcours périlleux, ils parviennent en Europe, ils risquent d’être pris et renvoyés chez eux. 
Et malgré cela, ils se disent tous prêts à recommencer… 
C’est dire que les africains souffrent car l’Afrique est en péril et ce péril commence à s’exporter vers l’Europe. En lui posant d’énormes problèmes socio-politiques.
Mais que faire ? C’est là le dilemme :     « Rester en Afrique et mourir »  ….ou… 
« Emigrer vers l’Europe et survivre » ??

Mais Pourquoi les africains émigrent-ils ? 
Alors que le continent africain est très riche.

L’Afrique regorge de ressources agricoles et minières. A telle enseigne qu’on les qualifie de « Scandales Géologiques » en raison de l’énormité de leurs ressources.

60% des réserves mondiales de cobalt,
90% de platine,
50% de diamant,…etc..

I- Les causes de l’Emigration

Pourquoi, avec autant de richesses sur leur sol,  les Africains émigrent-ils ?

Quand on voit l’énergie, le courage et la détermination des africains pour affronter les dangers de l’émigration et ensuite pour accepter n’importe quel emploi en Europe (on voit ainsi un médecin ivoirien devenir gardien de parking à Paris ou un « énarque » malien devenir balayeur à Rome), on doit donc se dire que ces personnes ne sont ni des « trouillards » ni des « tire aux flancs ». 
On se doit dès lors, si on veut trouver une solution à ce problème, de rechercher les vraies causes de l’émigration africaine.
Et la vraie cause de l’émigration, c’est la misère en Afrique, que l’on peut illustrer par quelques chiffres :
Plus de la moitié de la population africaine vit avec moins de 1€ par jour pour se loger, se nourrir, se soigner, et s’éduquer…
1 € par jour, c’est totalement insuffisant, c’est pourquoi les africains meurent vite…

D’ailleurs, L’Espérance de vie n’est que de 40 ans en Afrique contre 80 à 83 ans en Europe, en Amérique ou même en Asie.
On vit 2 fois moins longtemps en Afrique qu’ailleurs. 
Ainsi, en Afrique  « non seulement on vit mal, mais on vit peu »,
Concernant maintenant le Chômage. Selon le BIT (Bureau International du Travail) : 75 à 90% de la population active sont au chômage.Même les diplômés, y compris les médecins, ne trouvent pas d’emplois !
Pis, l’Afrique est non seulement pauvre, mais très endettée.

En effet, La Dette Extérieure de l’Afrique est passée de 11 Milliards $ en 1970 à 540 Milliards $ en 2002, soit 50 fois plus de dette extérieure en 32 ans !
Et durant cette période, l’Afrique a déjà remboursé 10 fois ce qu’elle devait en 1970, mais sa dette n’arrête pas pour autant d’augmenter.
Ce qui fait que la moitié des pays africains sont des PPTE   (Pays Pauvres Très Endettés). Sur les 27 PPTE dans le monde, 25 sont des pays africains. 
Même la Côte d’Ivoire, naguère pays phare de l’Afrique de l’Ouest, est devenu un PPTE , Pays Pauvre Très Endetté  

II- Les causes de la Misère
Comment expliquer que les africains soient si pauvres, alors que l’Afrique regorge de richesses agricoles et minières ?

En effet, comment comprendre que l’Afrique soit si riche et que les africains soient si pauvres ! 
L’analyse montre que la misère des africains est due au fait que l’Afrique a une économie du 18ème Siècle, puisqu’elle continue à n’exporter que ses matières premières, aux prix fixés par les multinationales. 
Et, ces prix n’arrêtent pas de baisser. Ainsi, le prix du cacao est passé de 3 € en novembre 2002 à environ 1,5 € en juin 2003, soit une baisse de 50% en 7 mois ! De même pour le café qui est tombé en 2003 à son plus bas niveau depuis 100 ans !
   Ce qui fait que...

Plus l’Afrique exporte ses matières premières,
Plus l’Afrique perd de l‘argent,
Pour preuve, l’Afrique ne représente que 1% du Commerce Mondial, contre 6% en 1970, soit une baisse en valeur actuelle de 600% !
Comme elle est de plus en plus pauvre, elle est donc obligée de s’endetter de plus en plus pour pouvoir survivre, même si cet endettement hypothèque leur avenir et celui de leurs enfants. C’est un lourd fardeau qui pèsera longtemps sur leurs épaules.     En effet, pour rembourser sa dette abyssale,
l’Afrique est obligée de brader toutes ses ressources agricoles et minières 
Quelque soient les prix fixés par les « cours mondiaux ». 
- Obligée de brader- car l’Afrique n’a aucun moyen financier pour pratiquer la rétention ou le stockage qui lui permettraient de ne pas vendre en cas de baisse brutale des prix.
L’Afrique se trouve dans le cercle vicieux de la pauvreté et de l’endettement. 
C’est ce qu’on pourrait appeler le « Tsunami économique » qui tue plus d’africains en 1 mois que les tsunamis naturels en 5 ans !

C’est cela qui amène les africains à émigrer : c’est une question de survie !
III- Il existe une  Solution à l’Emigration, qui ne passe ni par les barrières policières, ni par l’accroissement de l’Aide, ni même par l’effacement de la Dette africaine…

Quelle est cette solution qui ne passe pas par des barrières de protection autour de l’Europe ?

En effet, aucune barrière ne pourra protéger un « îlot de prospérité » dans un océan de misère. Il est donc nécessaire d’étendre la prospérité à l’Afrique…

Mais comment ?     Par les Aides Publiques au Développement (APD), communément appelées  « Coopération » ?

Certes, l’Europe n’a cessé d’apporter des aides de coopération depuis 40 ans. Mais les résultats obtenus sont bien maigres, puisque l’Afrique n’arrive toujours pas à s’en sortir et que les africains sont obligés d’émigrer pour survivre. On en conclut donc que l’Aide au Développement a été mal faite...ou qu’elle a été faite dans le but de maintenir l’Afrique dans son seul rôle de pourvoyeur de matières premières.
Pour preuve, en 2004, l’Aide Publique au Développement (APD) s’élevait à 78 Mds $.
Mais, dans la même année, l’Afrique a dû décaisser 374 Mds $, au titre du service de sa dette. 
Ce qui signifie que, pour chaque $ reçu sous forme d’aide au développement, l’Afrique doit décaisser 5 fois plus, pour rembourser sa dette.
C’est une voie sans issu.

En effet, même si on doublait cette aide, le solde resterait négatif (- 218 Mds $). Et l’Afrique continuerait à décaisser 2,5 fois plus que cette aide pourtant doublée. 
Au demeurant, ce doublement de l’aide à l’Afrique est irréaliste, car les pays développés ont plutôt tendance, non pas à augmenter leurs aides, mais à les diminuer progressivement.

Que dire alors de « l’effacement de la dette » ?

Certes, c’est un soulagement, mais jusqu’à présent, on n’a effacé que quelques petites dettes jugées irrécouvrables. On se retrouve dès lors dans le cas précédent où l’Afrique continue à décaisser plus qu’elle n’en reçoit.

Et si on effaçait entièrement toutes les dettes africaines ? 
Cette mesure est  généreuse, mais totalement irréaliste, car les créanciers publics, et surtout privés, n’accepteront jamais de le faire sans être dédommagés. 
Or, Qui va les dédommager ? Les contribuables ? De quel pays ?  

Et même si on arrivait à effacer toutes les dettes africaines, que se passerait-il ? Certes, l’Afrique ne serait plus endettée, mais elle resterait toujours pauvre. 
L’Afrique ressemble à ce SDF à qui sa banque a effacé les dettes. Son sort ne s’améliore pas pour autant. Car il reste toujours un SDF qui sera mis sur la liste rouge des banques, ce qui signifie qu’il n’aura plus accès aux crédits. 
Comme notre SDF, l’Afrique aurait préféré qu’on lui donne un emploi pour qu’elle puisse rembourser sa dette, plutôt que d’effacer sa dette, mais sans lui donner d’emploi.
Comme disait Confucius, « Donnez un poisson lui permet de vivre un jour. Apprenez-lui à pécher, et vous le nourrissez toute sa vie ».

C’est dire que toutes les généreuses idées, évoquées lors des forums ou lors des élections, resteront lettre morte, tant qu’elles ne visent qu’à se donner bonne conscience et non point à rechercher la vraie solution à la misère en Afrique. 
Pour cela, il faut se pencher sur la vraie cause de cette misère.

Un exemple concret nous permettra de mieux comprendre la situation des africains :
Voici une Bouteille d’eau minérale qui coûte 60 cts € en Côte d’Ivoire…
Remplissons cette bouteille de café vert : ce café est payé aux planteurs 30 cts € seulement ! Ce qui signifie que le café est payé 2 fois moins cher que l’eau. 
Comment expliquer que le café, fruit de dur labeur, soit rémunéré 2 fois moins que l’eau, don de la nature, et qui plus est, abondante en Côte d’Ivoire.
Comment peut-on vivre avec cela ? C’est un véritable scandale ! 
Voilà ce qui explique la misère des africains et le « pourquoi ils émigrent ».

La solution passe par la transformation industrielle en Afrique..

En effet, lorsque ce même café est transformé en café soluble, son prix passe alors à 30 € par Kg, soit 100 fois plus !
Ainsi, la transformation industrielle dégage 100 fois plus de valeur ajoutée. 
Et cette valorisation reste la seule solution pragmatique. 
En effet, l’Afrique ne pourra sortir de sa misère que si elle valorise ses matières premières par la transformation industrielle sur place.
Ces richesses accrues permettront à l’Afrique de financer son développement et donc de créer des emplois sur place. 
Et les africains n’auront donc plus besoin d’émigrer vers l’Europe. 
Mieux, en étant plus riches, les africains vont pouvoir acheter des voitures européennes, des médicaments européens, des Airbus…Et même venir en Europe en tant que touristes… et non en tant que travailleurs clandestins.
Ainsi, au lieu de venir en Europe pour prendre aux européens des emplois ou des allocations familiales, les « nouveaux africains », par leurs achats ou par leurs dépenses touristiques, vont permettre à l’Europe de créer sur place des emplois supplémentaires ! 
Pour preuve, les récentes 10.000 suppressions d’emplois chez AIRBUS démontrent que ce n’est point une vue d’esprit…

IV - La mise en œuvre de la solution « Africaine » rencontre trop de blocages…

Alors pourquoi l’Afrique ne se dote-elle pas d’usines de transformation ? 
Y-a-t-il des blocages ?

Pour un européen, il est incompréhensible que l’Afrique, disposant d’énormes ressources minières et agricoles, ne se soit pas dotée d’usines de transformation.
Les experts attribuent cela à la mauvaise gouvernance, à la corruption… avec en toile de fond, les multinationales. Et c’est ce système qui bloque naturellement toute velléité d’investissement industriel.

Personne n’a songé à braver cet environnement hostile et monter une usine de transformation ? Existe-il un projet concret ?

Deux entrepreneurs, l’un français (Jean Claude ROCHET – HEC et ancien D.G de Blohorn) et l’autre ivoirien (M.TANOE), ont bien tenté de monter des usines de transformation en Côte d’Ivoire. Ce sont des managers hors pair. Et pourtant leurs 2 usines, dénommées Prépal (Préparation Alimentaire à partir des grains de coton) et Sialim (Produits laitiers), ont été rapidement bloquées, puis anéanties par une multinationale suisse qui domine le secteur agro-alimentaire en Afrique. 
Par contre, une 3ème société continue à résister depuis 15 ans. 
C’est Ivoir-Café que les ivoiriens connaissent bien.
Cette société a été créée en 1992. Elle a acheté 70.000 M2 de terrains et bâtiments en plein centre d‘Abidjan. Elle a signé des conventions de financement avec la Banque Africaine de Développement (BAD), la BOAD, IFU, Niro etc…
Et ces Investisseurs institutionnels ont même accepté de prendre des participations dans le capital d’Ivoir-café. 
Cette société a également signé des contrats de commercialisation avec les plus grandes sociétés chinoises et japonaises (notamment la société Marubeni) qui lui garantissent les débouchés sur 3 ans renouvelables. Tout semble aller pour le mieux. 
 A telle enseigne que le célèbre journal économique japonais « Nikkei » lui a consacré une page entière, en disant que l’Afrique se réveille grâce à Ivoir-Café. C’était le 5 février 1995… Trois jours après, soit le 8 février 95, le Président de la multinationale suisse est arrivé précipitamment à Abidjan. Et immédiatement, dans la même journée, le vice-président de la BAD a annulé tous les contrats de la BAD avec Ivoir-Café par une simple lettre sans référence, sans motif et comportant sa seule signature. 
A cause de son comportement inadmissible, la BAD a donc - par la suite - perdu tous ses procès contre Ivoir-Café.

Tout ceci nous montre les difficultés pour monter une usine de transformation en Afrique, alors que c’est une nécessité reconnue par tous, pour pouvoir sortir l’Afrique de sa misère. C’est une «Ardente Obligation » dirait le Gal De Gaulle… 

V : Rôle de la France : « Françafrique » ou « France-Afrique » ?

A-Rôle actuel de la France et ses conséquences :
Prenons l’exemple de la Côte d’Ivoire .
La France dépense pour ses forces basées en Côte d’Ivoire, appelées « Forces Licorne », 300 millions € par année, soit 1200 millions € pour ces 4 dernières années.
Malgré ces énormes dépenses, le dispositif militaire français n’a pas pu empêcher :

L’exode massif de 8.000 français en 2004. C’était l’exode le plus important, après celui des pieds-noirs.
La destruction et fermeture de toutes les écoles françaises en Côte d’Ivoire,
La destruction et la fermeture de presque toutes les petites et moyennes entreprises françaises dans ce pays,
Les drapeaux français ont été brûlés, l’image de la France éclaboussée…
C’est un véritable échec.

Beaucoup de spécialistes attribuent cet échec au système « Françafrique » qui, au profit d’une poignée d’individus, a ruiné l’Afrique francophone et provoqué l’émigration africaine vers la métropole

B- Quel doit être le Nouveau rôle de la France : France-Afrique. ?

La situation actuelle est explosive, elle ne peut donc perdurer. Sinon l’Europe devra s’attendre à un afflux de 20, voire 50 millions d’africains. 
Et aucune barrière policière ne pourra protéger l’Europe de cette armée de désespérés qui n’auront plus rien à perdre ...

Alors, que faut-il faire pour que les africains ne désirent plus quitter leur continent ?

La réponse a été maintes fois démontrée: si la misère disparaît en Afrique, l’émigration disparaîtra en même temps, car les africains se sentent bien mieux dans leurs pays ensoleillés, au milieu de leurs familles. 
Et pour faire disparaître la misère, il faut le développement économique qui passe par l’émergence d’industries de transformation. 
Et la France peut et doit jouer un rôle moteur dans le développement de l’Afrique.

Faut-il, pour cela, que la France dépense davantage ?

Non, car ce n’est pas une question d’argent, mais de vision.
Tout d’abord, la France devrait user de son influence pour faire débloquer les projets industriels qui ont été bloqués par le système « Françafrique ».  
Dans ce cas, à part quelques « coups de fil », la France n’aura rien à dépenser.

Mieux, si la France veut aller plus loin - mais sans dépenser au-delà de son budget alloué actuellement à l’Afrique - elle devra rompre avec sa « politique africaine » actuelle. En voici 2 exemples

1er exemple : les 1.200 millions € dépensés pour les forces « Licorne » en Côte d’Ivoire pourraient être convertis en 50 usines de café. Ces usines auraient créé 35.000 emplois directs et 350.000 emplois indirects, soit 385.000 emplois en Côte d’Ivoire. Ce qui permet de faire vivre 385.000 familles, et comme chaque famille africaine est composée de dix personnes au moins, cela représente au total presque 4 millions de personnes. Ce serait autant de candidats en moins à l’émigration ! 
En outre, les français exilés de Côte d’Ivoire pourraient enfin rentrer dans leur pays adoptif. 
Mieux, ces investissements seront non seulement productifs pour la Côte d’Ivoire, mais également rentables pour la France. C’est le principe « gagnant-gagnant ».

Au demeurant, comme ce seront des usines de transformation de produits tropicaux - et non des usines électroniques ou automobiles - il n’y aura donc aucune concurrence avec les entreprises établies en France et donc aucun impact négatif sur les emplois en Métropole.

En faisant ainsi, le rôle de la France sera mieux apprécié et son influence sera plus d’autant plus grande que la présence d’entreprises françaises s’étendra en Afrique et dans le monde.

2ème exemple, On dépense chaque année des centaines de millions € pour la « Francophonie », alors que le « français » est de moins en moins parlé dans le monde. Ainsi, dans l’ancienne Indochine française (Cambodge, Laos et Viêt-nam), le français est aussi parlé que… le latin.  Tout simplement parce que la présence d’entreprises françaises était nulle dans ces pays. 
Dans ce cas, pourquoi ne pas utiliser autrement l’argent de la « Francophonie » et le consacrer à aider les entreprises françaises dans ces pays. 
La France y gagnera, ainsi que le « Français » qui sera plus couramment parlé.

Ce sont là  2 exemples parmi tant d’autres. 
L’essentiel, c’est d’avoir une vision pragmatique pour régler le problème crucial de l’émigration. Et cela, avant qu’on en arrive à un point de non retour.

Conclusion :

La voix de la France sera mieux entendue sur les scènes mondiales, si elle arrive à résoudre les problèmes de l’émigration, non pas par des mesures policières, mais par la participation active et intelligente de la France au développement de l’Afrique. C’est cette rupture dont les africains ont besoin et qu’ils appellent de tous leurs voeux.

Quelques informations sur l’auteur :

Mr Thierry TAN est un homme qui connaît bien l’Afrique – pour lui avoir consacré presque 30 années de sa vie.
Diplômé H E C de Paris et Economiste (Sorbonne-Panthéon), Mr Thierry TAN a été successivement banquier, conseiller technique et financier de plusieurs ministres – Directeur Général de la plus grande société africaine d’exportation de café et cacao…Avant de fonder sa propre société de transformation de café en Côte d’Ivoire.  
Mr TAN est en quelque sorte un prototype de la « mondialisation », puisqu’il est Chinois d’origine, Français de nationalité et d’éducation, et enfin Africain de cœur.

NB:

L'économie africaine est caractérisée par :

L’exportation des matières premières africaines ;
La faiblesse de la transformation industrielle des ressources naturelles africaines et notamment de l’agro- industrie africaine.
Le refus de l'industrialisation en Afrique fait que :

L’économie africaine est encore basée sur l'agriculture, notamment des produits de rente et non des produits vivriers.
Les entreprises africaines sont pour la plupart des filiales des multinationales occidentales ;
Le développement africain, malgré son taux de croissance raisonnable, ne profite pas à la population africaine.
      </p>
  </div>
