<md-card style="background-color:#f57f17;margin:5px;">
  <md-card-header>
  <md-card-title><h4>Projet en aviculture:</h4></md-card-title>
  </md-card-header>
  <md-card-content>
    Le Projet APAS qui intervient dans l'aviculture et la distribution.
 Apas produit des poulets de chairs de qualité et les livre à domicile 
  </md-card-content><br>
  <h4>Entrepreneur :</h4> Cheikh Diop
  <md-card-actions>
    <button md-raised-button color="accent">Contacter</button>
     <button md-raised-button color="accent">En savoir plus</button>
  </md-card-actions>
</md-card>

<md-card style="background-color:#f57f17;margin:5px;z-index:inherit">
  <md-card-header>
  <md-card-title><h4> Agro-business:</h4></md-card-title>
  </md-card-header>
  <md-card-content>
    "consommons local" est un projet qui permet
     d'octroyer des terres aux jeunes pour les cultiver
     et les mettre sur le marché et en tirer profit
  </md-card-content>
  <h4>Entreprise :</h4>SEDIMA
  <md-card-actions>
     <button md-raised-button color="accent">Contacter</button>
     <button md-raised-button color="accent">En savoir plus</button>
  </md-card-actions>
</md-card>
<md-card style="background-color:#f57f17;margin:5px;z-index:inherit">
  <md-card-header>
  <md-card-title><h4>Village des migrants:</h4></md-card-title>
  </md-card-header>
  <md-card-content>
c'est un projet qui travaille dans le cadre de l'artisanat et de stylisme qui exportera ses oeuvres 
Par ailleurs prendre en compte aussi les migrants de retour qui décide d'entreprendre pour créer de 
l'emploi et sensibiliser les jeunes 
  </md-card-content>
  <h4>Entreprise :</h4>Agorize
  <md-card-actions>
     <button md-raised-button color="accent">Contacter</button>
     <button md-raised-button color="accent">En savoir plus</button>
  </md-card-actions>
</md-card>