
.space {
  flex : 1 1 auto;
}

#container {
  margin : 0px;
  padding : 0px;
  width: 100%;
  height: 100vh;
}

.content {
  margin-top : -35px;
  padding : 0px;
}

.sidenav{
  width: 250px;
}
.float {
    position : fixed;
    top : 90%;
    bottom : 10%;
    left:80%;

}