 <md-toolbar color="primary">
    <button md-icon-button>
      <md-icon>menu</md-icon>
    </button>
    <span id="logo">MigraOS</span>
  </md-toolbar>
<div id="containe">
    <p class="intro">
      MigraOS est une plateforme digitale d'information, d'accompagnement 
  et de gestion des urgences des migrants issus d' Afrique de l'Ouest
    </p>

    <md-card>
        yes still here
    </md-card>
    
        <div class="row">

<!--            <md-grid-list cols="2">
                <md-grid-tile>
                    <md-grid-tile-header>
                        Je veux migrer
                    </md-grid-tile-header>
                    <img md-card-image class="a" src="../../assets/migrant.jpg" alt="">
                </md-grid-tile>
                <md-grid-tile>
                     <md-grid-tile-header>
                        Je suis immigré
                    </md-grid-tile-header>
                    <img md-card-image class="a" src="../../assets/immigré.jpg" alt="">
                </md-grid-tile>
                <md-grid-tile>3</md-grid-tile>
                <md-grid-tile>4</md-grid-tile>
            </md-grid-list>
-->
        </div>
</div>
