
<div id="containe">

    <p class="intro">
      MigraOS est une plateforme digitale d'information, d'accompagnement 
  et de gestion des urgences des migrants issus d' Afrique de l'Ouest
    </p>

    <form>
        <md-card>
            <h4 style="text-align :center;">S'inscrire</h4>
            <md-select class="marg" placeholder="Votre Pays" [(ngModel)]="pays" name="pays">
                <md-option *ngFor="let c of countries" [value]="c">
                {{c}}
                </md-option>
            </md-select><br>
            <md-select class="marg" placeholder="Votre Statut" [(ngModel)]="role" name="role">
                <md-option *ngFor="let stat of statut" [value]="stat">
                {{stat}}
                </md-option>
            </md-select><br>
        <button md-raised-button color="primary" (click)="login()"> Me connecter avec Facebook </button>
        <hr>
        <button md-raised-button color="accent"> Rester Anonyme</button>
        </md-card>
    </form>
</div>
